{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sglass</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/reglog.css' %}">

    <style>
        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background-color: #111215;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #555;
            border-radius: 50px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #A1A1AA;

        }
    </style>
</head>
<body>

    <div class="main">
        {% block content %}

        {% endblock content %}
    </div>

    <!-- JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>